<app-navbar></app-navbar>
<div class="container pl-5">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 60rem;">
        <div class="card-body ">
            <h5 class="card-title text-center">Editar empleado</h5>
            <form (ngSubmit)="editarEmpleado()" novalidate #f="ngForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Nombre </label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                [(ngModel)]="empleado.nombre" required #nombre="ngModel" maxlength="20"
                                pattern="^[A-Z]+$">
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="requerido">
                                <p *ngIf="nombre.errors.required">
                                    el nombre es requerido*
                                </p>
                            </div>
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="requerido">
                                <p *ngIf="nombre.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Segundo Nombre</label>
                            <input type="text" class="form-control" id="segundoNombre" name="segundoNombre"
                                [(ngModel)]="empleado.segundoNombre" #segundoNombre="ngModel" maxlength="50"
                                pattern="^[A-Z]+$">
                            <div *ngIf="segundoNombre.invalid && (segundoNombre.dirty || segundoNombre.touched)"
                                class="requerido">
                                <p *ngIf="segundoNombre.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido"
                                [(ngModel)]="empleado.apellido" required #apellido="ngModel" maxlength="20"
                                pattern="^[A-Z]+$">
                            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="requerido">
                                <p *ngIf="apellido.errors.required">
                                    el apellido es requerido*
                                </p>
                            </div>
                            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="requerido">
                                <p *ngIf="apellido.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Segundo apellido</label>
                            <input type="text" class="form-control" id="segundoApellido" name="segundoApellido"
                                [(ngModel)]="empleado.segundoApellido" required #segundoApellido="ngModel"
                                maxlength="20" pattern="^[A-Z]+$">
                            <div *ngIf="segundoApellido.invalid && (segundoApellido.dirty || segundoApellido.touched)"
                                class="requerido">
                                <p *ngIf="segundoApellido.errors.required">
                                    el segundo apellido es requerido*
                                </p>
                            </div>
                            <div *ngIf="segundoApellido.invalid && (segundoApellido.dirty || segundoApellido.touched)"
                                class="requerido">
                                <p *ngIf="segundoApellido.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">País</label>
                            <select name="pais" id="pais" class="form-control" [(ngModel)]="empleado.pais"
                                #pais="ngModel">
                                <option disabled>{{empleado.pais}}</option>
                                <option>Colombia</option>
                                <option>Estados Unidos</option>
                            </select>
                            <div *ngIf="pais.invalid && (pais.dirty || pais.touched)" class="requerido">
                                <p *ngIf="pais.errors.required">
                                    el pais es requerido*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Tipo de ID</label>
                            <select name="tipoId" id="tipoId" class="form-control" [(ngModel)]="areaTipo.tipoId"
                                #tipoId="ngModel" required>
                                <option *ngFor="let item of tipoLista" value="{{item.id}}">{{item.nombreTipo}}</option>
                            </select>
                            <div *ngIf="tipoId.invalid && (tipoId.dirty || tipoId.touched)" class="requerido">
                                <p *ngIf="tipoId.errors.required">
                                    el Tipo de ID es requerido*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Documento</label>
                            <input type="text" class="form-control" id="documento" name="documento"
                                [(ngModel)]="empleado.documento" required #documento="ngModel" pattern="^[A-Za-z0-9]+$">
                            <div *ngIf="documento.invalid && (documento.dirty || documento.touched)" class="requerido">
                                <p *ngIf="documento.errors.required">
                                    el documento es requerido*
                                </p>
                            </div>
                            <div *ngIf="documento.invalid && (documento.dirty || documento.touched)" class="requerido">
                                <p *ngIf="documento.errors.pattern">
                                    solo caracteres alfanumericos*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nombre">Correo</label>
                            <input type="email" class="form-control" id="correo" name="correo"
                                [(ngModel)]="empleado.correo" required #correo="ngModel">
                            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="requerido">
                                <p *ngIf="correo.errors.required">
                                    el correo es requerido*
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre">Área</label>
                            <select name="area" id="area" class="form-control" [(ngModel)]="areaTipo.areaId"
                                #area="ngModel" required >
                                <option disabled>seleccione el area</option>
                                <option *ngFor="let item of areaLista" value="{{item.id}}">{{item.nombre}}</option>
                            </select>
                            <div *ngIf="area.invalid && (area.dirty || area.touched)" class="requerido">
                                <p *ngIf="area.errors.required">
                                    el área es requerida*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fechaRegistro">Fecha de registro</label>
                            <input type="date" class="form-control" id="fechaRegistro" name="fechaRegistro"
                                [(ngModel)]="empleado.fechaRegistro" #fechaRegistro="ngModel" required >
                            <div *ngIf="fechaRegistro.invalid && (fechaRegistro.dirty || fechaRegistro.touched)"
                                class="requerido">
                                <p *ngIf="fechaRegistro.errors.required">
                                    la fecha de registro es requerida*
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-success btn-lg" [disabled]="!f.valid">actualizar empleado</button>
                </div>
            </form>

        </div>
    </div>
</div>