<app-navbar></app-navbar>
<div class="container pl-5">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 60rem;">
        <div class="card-body ">
            <h5 class="card-title text-center">Nuevo Empleado</h5>
            <form (ngSubmit)="guardarEmpleado()" novalidate #f="ngForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">Nombre </label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                [(ngModel)]="empleadoRequest.nombre" required #nombre="ngModel" maxlength="20"
                                pattern="^[A-Z]+$" placeholder="primer nombre*">
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="requerido">
                                <p *ngIf="nombre.errors.required">
                                    el nombre es requerido*
                                </p>
                            </div>
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="requerido">
                                <p *ngIf="nombre.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">Segundo Nombre</label>
                            <input type="text" class="form-control" id="segundoNombre" name="segundoNombre"
                                [(ngModel)]="empleadoRequest.segundoNombre" #segundoNombre="ngModel" maxlength="50"
                                pattern="^[A-Z]+$" placeholder="opcional">
                            <div *ngIf="segundoNombre.invalid && (segundoNombre.dirty || segundoNombre.touched)"
                                class="requerido">
                                <p *ngIf="segundoNombre.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido"
                                [(ngModel)]="empleadoRequest.apellido" required #apellido="ngModel" maxlength="20"
                                pattern="^[A-Z]+$" placeholder="primer apellido*">
                            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="requerido">
                                <p *ngIf="apellido.errors.required">
                                    el apellido es requerido*
                                </p>
                            </div>
                            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="requerido">
                                <p *ngIf="apellido.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">Segundo apellido</label>
                            <input type="text" class="form-control" id="segundoApellido" name="segundoApellido"
                                [(ngModel)]="empleadoRequest.segundoApellido" required #segundoApellido="ngModel"
                                maxlength="20" pattern="^[A-Z]+$" placeholder="requerido*">
                            <div *ngIf="segundoApellido.invalid && (segundoApellido.dirty || segundoApellido.touched)"
                                class="requerido">
                                <p *ngIf="segundoApellido.errors.required">
                                    el segundo apellido es requerido*
                                </p>
                            </div>
                            <div *ngIf="segundoApellido.invalid && (segundoApellido.dirty || segundoApellido.touched)"
                                class="requerido">
                                <p *ngIf="segundoApellido.errors.pattern">
                                    solo letras mayusculas de la "A" a la "Z" sin acentos ni ñ*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">País</label>
                            <select name="pais" id="pais" class="form-control" [(ngModel)]="empleadoRequest.pais"
                                #pais="ngModel">
                                <option disabled>seleccione el pais</option>
                                <option>Colombia</option>
                                <option>Estados Unidos</option>
                            </select>
                            <div *ngIf="pais.invalid && (pais.dirty || pais.touched)" class="requerido">
                                <p *ngIf="pais.errors.required">
                                    el pais es requerido*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">Tipo de ID</label>
                            <select name="tipoId" id="tipoId" class="form-control" [(ngModel)]="tipoId">
                                <option disabled>seleccione el tipo</option>
                                <option *ngFor="let item of tipoLista" value="{{item.id}}">{{item.nombreTipo}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">Documento</label>
                            <input type="text" class="form-control" id="documento" name="documento"
                                [(ngModel)]="empleadoRequest.documento" required #documento="ngModel"
                                pattern="^[A-Za-z0-9]+$" placeholder="letras y numeros*">
                            <div *ngIf="documento.invalid && (documento.dirty || documento.touched)" class="requerido">
                                <p *ngIf="documento.errors.required">
                                    el documento es requerido*
                                </p>
                            </div>
                            <div *ngIf="documento.invalid && (documento.dirty || documento.touched)" class="requerido">
                                <p *ngIf="documento.errors.pattern">
                                    solo caracteres alfanumericos*
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre">Area</label>
                            <select name="area" id="area" class="form-control" [(ngModel)]="areaId">
                                <option disabled>seleccione el area</option>
                                <option *ngFor="let item of areaLista" value="{{item.id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="fechaRegistro">Fecha de registro</label>
                            <input type="date" class="form-control" id="fechaRegistro" name="fechaRegistro"
                                [(ngModel)]="empleadoRequest.fechaRegistro" required #fechaRegistro="ngModel"
                                placeholder="requerida*">
                            <div *ngIf="fechaRegistro.invalid && (fechaRegistro.dirty || fechaRegistro.touched)"
                                class="requerido">
                                <p *ngIf="fechaRegistro.errors.required">
                                    la fecha de registro es requerida*
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-success btn-lg" [disabled]="!f.valid" >Crear empleado</button>
                </div>
            </form>

        </div>
    </div>
</div>