<app-navbar></app-navbar>

<div class="row">
    <div class="col-md-11">
        <div class="container">
            <div class="responsive">
                <button class="btn btn-outline-primary mb-2" routerLink="/crear">Crear Empleado</button>

                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Segundo Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Segundo apellido</th>
                            <th scope="col">Pais</th>
                            <th scope="col">Tipo identificación</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Area</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let empleado of empleados | paginate: { itemsPerPage: 7, currentPage: p } | filterBy: empleadoFilter">
                            <td>{{empleado.nombre}}</td>
                            <td>{{empleado.segundoNombre}}</td>
                            <td>{{empleado.apellido}}</td>
                            <td>{{empleado.segundoApellido}}</td>
                            <td>{{empleado.pais}}</td>
                            <td>{{empleado.tipoIdentificacion.nombreTipo}}</td>
                            <td>{{empleado.documento}}</td>
                            <td>{{empleado.correo}}</td>
                            <td>{{empleado.area.nombre}}</td>
                            <td>{{empleado.estado}}</td>
                            <td><button class="btn btn-outline-primary  btn-sm" routerLink="/editar/{{empleado.id}}"><i
                                        class="far fa-edit"></i>
                                    Editar</button></td>
                            <td><button class="btn btn-outline-danger btn-sm" (click)="eliminarEmpleado(empleado.id)"><i
                                        class="far fa-trash-alt"></i>
                                    Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}" [baseZIndex]="10000">
</p-confirmDialog>
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center mb-3">Filtros de busqueda</h5>
            <div class="row">
                <div class="col-md-4">
                    <span class="p-input-icon-right ml-5 p-float-label">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="empleadoFilter.nombre" />
                        <label for="float-input">Nombre</label>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="p-input-icon-right ml-5 p-float-label">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="empleadoFilter.segundoNombre" />
                        <label for="float-input">Segundo Nombre</label>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="p-input-icon-right ml-5 p-float-label">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="empleadoFilter.apellido" />
                        <label for="float-input">Apellido</label>
                    </span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <span class="p-input-icon-right ml-5 p-float-label">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="empleadoFilter.segundoApellido" />
                        <label for="float-input">Segundo apellido</label>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="p-input-icon-right ml-5 p-float-label">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="empleadoFilter.segundoApellido" />
                        <label for="float-input">Segundo apellido</label>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="p-input-icon-right ml-5 p-float-label">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText [(ngModel)]="empleadoFilter.documento" />
                        <label for="float-input">documento</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>